@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Inconsolata:wght@300&family=Raleway:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
}

nav{
    font-family: 'Cabin', sans-serif;
}

main{
    font-family: 'Inconsolata', monospace;
}

.logo{
    font-size: 1.4rem;
}

.navbar{
    display: flex;
    height: 67px;
    font-family: 'Raleway', sans-serif;
}

.navbar li{
    list-style: none;
    margin: 0 12px;
}

.topLeft{
    width: 50%;
}

.topRight{
    width: 50%;
}

.section1{
    min-height: 100vh;
}

.section1 h1{
    font-size: 2rem;
}

.dumbellimg{
    width: 280px;
}

.gymimg{
    width: 450px;
}

.section2 h1{
    font-size: 2rem;
}