.nav{
    background-color: aqua;
}

.link{
    width: 100px;
    font-family: "Trirong", serif;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    color: black;
    text-align: center;
}

.link:hover{
    color: white;
    background-color: rgb(0, 119, 255);
}

.logo{
    font-family: "Audiowide", sans-serif;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    text-align: center;
}